Final Deliverables/FINAL CODE/flows.json
[{"id":"44ffc5760566f52a","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"f2f2649a.0d0d98","type":"debug","z":"44ffc5760566f52a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":260,"wires":[]},{"id":"1cfe8e53c21c7291","type":"ibmiot in","z":"44ffc5760566f52a","authentication":"apiKey","apiKey":"6d82f64d272f2f4c","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1234","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":150,"y":80,"wires":[["446ebf8c3c15d971","b1b74efbf1d1200d","7ae9925cf72aac95"]]},{"id":"446ebf8c3c15d971","type":"function","z":"44ffc5760566f52a","name":"Soil Moisture","func":"global.set('moist', msg.payload.soil_moisture)\nmsg.payload=msg.payload.soil_moisture\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":20,"wires":[["f6eae26e4878561b","f1622aeea4c26c6c","f2f2649a.0d0d98","c80cabcbe050bd01"]]},{"id":"b1b74efbf1d1200d","type":"function","z":"44ffc5760566f52a","name":"humidity","func":"global.set('hum', msg.payload.humidity)\nmsg.payload=msg.payload.humidity\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":100,"wires":[["a8edaddcb0d4b1e0","f2f2649a.0d0d98"]]},{"id":"7ae9925cf72aac95","type":"function","z":"44ffc5760566f52a","name":"Temperature","func":"global.set('temp', msg.payload.temperature)\nmsg.payload=msg.payload.temperature\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":180,"wires":[["f1622aeea4c26c6c","f2f2649a.0d0d98"]]},{"id":"f6eae26e4878561b","type":"ui_gauge","z":"44ffc5760566f52a","name":"","group":"461b32b295bc7e7d","order":1,"width":4,"height":3,"gtype":"gage","title":"Soil moisture","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":690,"y":20,"wires":[]},{"id":"a8edaddcb0d4b1e0","type":"ui_chart","z":"44ffc5760566f52a","name":"","group":"461b32b295bc7e7d","order":7,"width":4,"height":3,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":680,"y":100,"wires":[[]]},{"id":"f1622aeea4c26c6c","type":"ui_chart","z":"44ffc5760566f52a","name":"","group":"461b32b295bc7e7d","order":11,"width":4,"height":3,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":690,"y":180,"wires":[[]]},{"id":"c80cabcbe050bd01","type":"switch","z":"44ffc5760566f52a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"20","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":230,"y":320,"wires":[["9b6d013ce829cf32"]]},{"id":"9b6d013ce829cf32","type":"http request","z":"44ffc5760566f52a","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://www.fast2sms.com/dev/bulkV2?authorization=qlSbJdFjcxuKpiys1v7CAIMTnkorw4aN3WBm2LOz5De0GX8E6Ui9a3oSevB1Tmn0jptXc2OG8fkPyC4w&route=q&message=Less%20soil%20moisture%20dectected%20--%20%7B%7Bpayload%7D%7D&language=english&flash=0&numbers=123456789","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":430,"y":320,"wires":[["44c3bb69fed5af47"]]},{"id":"44c3bb69fed5af47","type":"debug","z":"44ffc5760566f52a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":320,"wires":[]},{"id":"37c06a511a41a33a","type":"http in","z":"44ffc5760566f52a","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":220,"y":400,"wires":[["3bf321de56275c7a"]]},{"id":"3bf321de56275c7a","type":"function","z":"44ffc5760566f52a","name":"data","func":"msg.payload={\n    \"temperature\":global.get('temp'),\n    \"humidity\":global.get('hum'),\n    \"soil_moisture\":global.get('moist')\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":400,"wires":[["a69af8a1f2b34679"]]},{"id":"a69af8a1f2b34679","type":"http response","z":"44ffc5760566f52a","name":"","statusCode":"","headers":{},"x":690,"y":400,"wires":[]},{"id":"75dc9d9875f19f41","type":"ibmiot out","z":"44ffc5760566f52a","authentication":"apiKey","apiKey":"6d82f64d272f2f4c","outputType":"cmd","deviceId":"1234","deviceType":" Node-red","eventCommandType":"cmd","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":535,"y":460,"wires":[],"l":false},{"id":"b3b9304e34c0e408","type":"debug","z":"44ffc5760566f52a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":520,"wires":[]},{"id":"241108395fce7a0f","type":"http in","z":"44ffc5760566f52a","name":"","url":"/command","method":"get","upload":false,"swaggerDoc":"","x":240,"y":580,"wires":[["f15d17d6dc29ca57","b3b9304e34c0e408","75dc9d9875f19f41"]]},{"id":"f15d17d6dc29ca57","type":"http response","z":"44ffc5760566f52a","name":"","statusCode":"","headers":{},"x":550,"y":580,"wires":[]},{"id":"463285634d573530","type":"ui_button","z":"44ffc5760566f52a","name":"","group":"461b32b295bc7e7d","order":3,"width":5,"height":1,"passthru":false,"label":"Motor ON","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"command\":\"motoron\"}","payloadType":"json","topic":"topic","topicType":"msg","x":240,"y":460,"wires":[["75dc9d9875f19f41","b3b9304e34c0e408"]]},{"id":"705f1feb4c31597b","type":"ui_button","z":"44ffc5760566f52a","name":"","group":"461b32b295bc7e7d","order":5,"width":5,"height":1,"passthru":false,"label":"Motor OFF","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"command\":\"motoroff\"}","payloadType":"json","topic":"topic","topicType":"msg","x":250,"y":520,"wires":[["75dc9d9875f19f41","b3b9304e34c0e408"]]},{"id":"c2675a3035c2e6d8","type":"ui_spacer","z":"44ffc5760566f52a","name":"spacer","group":"3958d75220c18883","order":3,"width":"0","height":"0"},{"id":"3d80fa336406b7b8","type":"ui_spacer","z":"44ffc5760566f52a","name":"spacer","group":"89d0f14a79745efd","order":2,"width":"0","height":"0"},{"id":"a0e80fcb6118748d","type":"ui_spacer","z":"44ffc5760566f52a","name":"spacer","group":"461b32b295bc7e7d","order":2,"width":1,"height":1},{"id":"1dedc0ac07a0e01b","type":"ui_spacer","z":"44ffc5760566f52a","name":"spacer","group":"461b32b295bc7e7d","order":4,"width":1,"height":1},{"id":"4c829c5e3fd4b4c8","type":"ui_spacer","z":"44ffc5760566f52a","name":"spacer","group":"461b32b295bc7e7d","order":6,"width":6,"height":1},{"id":"af3e7fb920bc1311","type":"ui_spacer","z":"44ffc5760566f52a","name":"spacer","group":"461b32b295bc7e7d","order":8,"width":6,"height":1},{"id":"90d3cfa9bcf0bcd8","type":"ui_spacer","z":"44ffc5760566f52a","name":"spacer","group":"461b32b295bc7e7d","order":9,"width":6,"height":1},{"id":"febf057f54ba2a92","type":"ui_spacer","z":"44ffc5760566f52a","name":"spacer","group":"461b32b295bc7e7d","order":10,"width":6,"height":1},{"id":"7139e460631b5c88","type":"ui_spacer","z":"44ffc5760566f52a","name":"spacer","group":"461b32b295bc7e7d","order":12,"width":6,"height":1},{"id":"62c4e5f3c8f7430f","type":"ui_spacer","z":"44ffc5760566f52a","name":"spacer","group":"461b32b295bc7e7d","order":13,"width":6,"height":1},{"id":"c3812c1928dfe836","type":"ui_spacer","z":"44ffc5760566f52a","name":"spacer","group":"461b32b295bc7e7d","order":14,"width":6,"height":1},{"id":"6d82f64d272f2f4c","type":"ibmiot","name":"API Key","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"461b32b295bc7e7d","type":"ui_group","name":"CLIMATIC CONDITION","tab":"19712ac74ef340bf","order":1,"disp":true,"width":10,"collapse":false,"className":""},{"id":"19712ac74ef340bf","type":"ui_tab","name":"SmartFarming","icon":"Soil moisture","order":1,"disabled":false,"hidden":false}]